@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* 1. Navigation tab menu */
.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: white;
  z-index: 100;
  padding: 15px;
}

/* Navigation logo */
.navigation-menu .logo span img {
  height: 40px;
  width: 40px;
}

.logo-size {
  height: 30px;
  width: 30px;
}

/* Navigation links */
.navigation-link-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-right: 30px;
}

.navigation-link-list li {
  padding: 0 20px;
}

/* Shopping cart icon */
.shopping-cart-list-icon-container {
  position: relative;
}

.shopping-cart-image {
  display: block;
  height: 40px;
  width: 40px;
}

/* Shopping cart item count */
.shopping-cart-item-count {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  background-color: #c13584;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 7px;
  border-radius: 50%;
}

/* Underline hover effect */
.primary-menu .navigation-link-list li {
  position: relative;
  display: block;
  transition: transform 0.5s ease-in-out, color 0.5s;
}

.primary-menu .navigation-link-list li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 90%;
  height: 2px;
  margin-left: 2px;
  background-color: #c13584;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

.primary-menu .navigation-link-list li:hover {
  color: #c13584;
}

.primary-menu .navigation-link-list li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* 2. Product page tab design */
.product-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100vw;
  height: 100vh;
  padding-top: 90px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
/* product-side-menu */
.product-side-menu {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 15vw;
  height: calc(100vh - 80px);
  padding: 10px;
}

/* product button  */
.product-side-menu button {
  display: flex;
  align-items: center;
  color: black;
  border: none;
  padding: 10px;

  margin: 10px 0;
  width: 200px;
  height: 30px;
}

.product-side-menu button:hover {
  background-image: linear-gradient(to bottom, #c13584, #d81f60);
  color: white;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* smooth transition or animation when the button is clicked */
.product-side-menu button:active {
  transition: all 0.5s ease;
  transform: scale(0.9);
}

/* smoothe transition to dropdown menu */
.product-side-menu .dropdown {
  transition: all 0.5s ease;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
}

/* product-detail-container, add a nice slightly curved border, a light smooth box-shadow */
.product-detail-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  overflow: scroll;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
}

/* produt landing/default page */
.product-default-page {
  position: relative;
  width: 100%;
  height: 100%;
}
.product-default-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}
.product-default-page .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 20px;
  border-radius: 12px;
}

.product-default-page .overlay h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  max-width: 400px;
  padding: 0.5rem;
}

.product-default-page .overlay p {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 20px;
  max-width: 500px;
  padding: 1rem;
}
.product-default-page .overlay a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c13584;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

.product-default-page .overlay a:hover {
  background-color: #d81f60;
}
/* featured product */
#featured-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 50px;
}

.featured-product-card {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 12px;
}

.featured-product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.featured-product-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  gap: 35px;
  padding: 0 20px;
  border-radius: 12px;
}

.featured-product-card-overlay button {
  display: inline-block;
  padding: 5px 20px;
  background-color: #c13584;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

.featured-product-card-overlay button:hover {
  background-color: transparent;
  border: 0.5px solid #c13584;
}

.featured-product-card-overlay h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  max-width: 400px;
  padding: 0.5rem;
}

/* content container */
.product-content-container {
  width: 100%;
  height: 100%;
}

/* side menu */
.product-side-menu li {
  margin: 25px 0;
}
/* side menu  icon */
.product-side-menu .side-menu-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.helpCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

/* rating */

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.rating-container .rating {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.rating-container .rating:hover {
  cursor: pointer;
}

/* Product card */
.product-card-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  height: 500px;
  width: 330px;
  cursor: pointer;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 400px;
}

.product-card-image-container {
  width: 100%;
  height: 100%;
}
.product-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}
.product-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-align: center;
  gap: 25px;
  padding: 10px 10px;
  border-radius: 12px;
}

/* product card button */
.like-button-container {
  height: 40px;
  width: 40px;
  transition: transform 0.2s;
}

.like-button-container:hover {
  transform: translateY(-5px);
}

.like-button-container button {
  width: 100%;
  height: 100%;
  border: none;
}

.like-button-container button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
}
.product-card-add-to-basket-btn {
  width: 200px;
  display: flex;
  padding: 5px 10px;
  background: linear-gradient(to right, #9f7aea, #ff6b6b);
  /* background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 255, 0, 0.5)); */
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

.product-card-add-to-basket-btn:hover {
  background: transparent;
  border: 0.5px solid #c13584;
  color: #c13584;
}

.product-card-add-to-basket-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.product-card-description {
  font-family: "Inter", sans-serif;
  max-width: 500px;
  text-align: center;
}

.product-card-price {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.product-card-vendor {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

/* afro product list  container */
.afroWig-container {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.afro-product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* for the different containers container */
.page-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 90px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* 3. about container */
.about-container {
}

/* 4. blog container */
.blog-container {
}

/* 5.  home */
.home {
  background: linear-gradient(to right, #9f7aea, #ff6b6b);
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  width: 100vw;
  position: relative;
}
.home-header {
  font-size: 4.5rem;
  font-weight: 700;
  justify-content: center;
}
.home-header h1 {
  text-align: center;
  margin-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;
}
.home-shopNow-btn {
  position: relative;
  font-size: 2rem;
  width: 200px;
  height: 55px;
  padding: 2px;
  color: #fff;
  border-radius: 30px;
  background-color: #d81f60;
  /* background-color: #333; */
  background-image: url("https://github.com/oludedavid/Wiggies/blob/master/public/images/butterfly.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50%;
  /* transform the butterfly image */
  transform: translate(7%, -7%) rotate(24deg);
}

.home-shopNow-btn:hover {
  /* transform the butterfly image on hover */
  transform: translate(10%, -10%) rotate(60deg) scale(1.2);
}

.btn-butterfly {
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  width: 45px;
  transform: translate(20%, -20%) rotate(30deg);
}

.home-header .header-image {
  height: 500px;
  width: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 4px 8px rgba(0, 0, 0, 0.25);
}
.header-title {
  position: relative;
}

.butterfly-img {
  position: absolute;
  top: -20px;
  right: 10px;
  height: 50px;
  width: 50px;
  transform: rotate(-15deg);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.home-main-body {
  padding-top: 140px;
  padding-left: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.special-offer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.special-offer-header {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;

  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.special-offer-card-img-header {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.special-offer-card-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  max-width: 400px;
  padding: 0.5rem;
  text-align: center;
  background: linear-gradient(to right, #9f7aea, #ff6b6b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.special-offer-category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 4px 8px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  margin: 10px;
}

.special-offer-category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* 6.  signup container */
.signup-container {
}

/* 7. like page */
.liked-product-page-container {
}
/* for all icons */
.image-icon {
  height: 30px;
  width: 30px;
}
.card-image {
  height: 200px;
  width: 200px;
}
/* 8. shopping cart */
::-webkit-scrollbar {
  display: none;
}
.shopping-cart-container {
  padding-top: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.shopping-cart-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}
header.shopping-cart-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shoppingCart-assurance-description {
  background-color: #9f7aea;
  text-align: center;
}

/* shopping card item */
.shopping-cart-card-container {
  margin: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 700px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.shopping-cart-card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.shopping-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shopping-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shopping-card-item-descriptions-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
  height: 150px;
}
.edit-remove-btn-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
.item-image-container {
  height: 150px;
}

.item-image-container img {
  height: 100%;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shopping-card--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.shopping-card-header button {
  text-decoration: underline;
}

/* checkout card */
.payment-card-container {
  width: 700px;
}
.checkout-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.checkout-container hr {
  border: 0.5px solid #c13584;
  width: 100%;
}

.pay-by-cards,
.card-payment-options,
.google-pay,
.klarna,
.pay-by-paypal,
.klarna-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.card-img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  cursor: pointer;
}

.checkout-item-sum-container,
.checkout-delivery-sum-container,
.checkout-total-container,
.checkout-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.proceed-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.checkout-btn {
  background-color: #333;
  color: #fff;
  border: 2px solid #333;
  padding: 10px 20px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border-radius: 20px;
  width: 300px;
}

.checkout-btn:hover {
  background-color: #000;
  border-color: #000;
}

.shopping-cart-default-page {
  padding-top: 90px;
  background-color: #d81f60;
}
